:root {
  --background: #FFFFFF;
  --qbusiness-webexperience-title-color: #4B4F54;
  --qbusiness-webexperience-font-typeface: Arial Bold;
  --qbusiness-webexperience-chat-user-background-color: #FFB600;
  --qbusiness-webexperience-chat-user-text-color: #4B4F54;
  --qbusiness-webexperience-chat-agent-background-color: #C8C9C7;
  --qbusiness-webexperience-chat-agent-text-color: #4B4F54;
  --qbusiness-webexperience-logo-url: "https://www.wellsense.org/hubfs/Images/Logos/WellSense_Logo_RGB.svg";
  --qbusiness-webexperience-favicon-url: "https://www.wellsense.org/hubfs/Images/Logos/WellSense_Logo_RGB.svg";
}
